<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.testesparatcc">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TestesParaTcc"
        android:hardwareAccelerated="false"
        android:largeHeap="true"
        >

        <activity android:name=".Splashscreen" android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".SplashScreenPlano" android:label="Point Labor" android:theme="@style/Theme.AppCompat.NoActionBar">
        </activity>

        <activity android:name=".PrestadorOuCliente" android:label="Point Labor" android:theme="@style/Theme.AppCompat.NoActionBar">
        </activity>

        <activity android:name=".PaginaPrincipal" android:theme="@style/Theme.AppCompat.NoActionBar">
        </activity>

        <activity android:name=".MainActivity" android:label="Cadastro" android:theme="@style/Theme.AppCompat.NoActionBar">

        </activity>

        <activity android:name=".ConsultarBanco" android:label="Consultar">
        </activity>

        <activity android:name=".Login" android:label="Consultar" android:theme="@style/Theme.AppCompat.NoActionBar">
        </activity>

        <activity android:name=".InfoDeTrampo" android:label="Consultar" android:theme="@style/Theme.AppCompat.NoActionBar">
        </activity>

        <activity android:name=".CadastroFoto" android:label="Consultar" android:theme="@style/Theme.AppCompat.NoActionBar">
        </activity>

        <activity android:name=".CadastroEndereco" android:label="Endereço" android:theme="@style/Theme.AppCompat.NoActionBar">
        </activity>

        <activity android:name=".CadastroRgCpf" android:label="RG e CPF" android:theme="@style/Theme.AppCompat.NoActionBar">
        </activity>

        <activity android:name=".CadastroServico" android:label="Serviço" android:theme="@style/Theme.AppCompat.NoActionBar">
        </activity>

        <activity android:name=".Menu" android:label="RG e CPF" android:theme="@style/Theme.AppCompat.NoActionBar">
        </activity>

        <activity android:name=".CadastroAcordosLegais" android:label="RG e CPF" android:theme="@style/Theme.AppCompat.NoActionBar">
        </activity>

        <activity android:name=".ContratarPlano" android:label="RG e CPF" android:theme="@style/Theme.AppCompat.NoActionBar">
        </activity>

        <activity android:name=".PagarPlano" android:label="RG e CPF" android:theme="@style/Theme.AppCompat.NoActionBar">
        </activity>

        <activity android:name=".PaginaPrincipalCliente" android:label="RG e CPF" android:theme="@style/Theme.AppCompat.NoActionBar">
        </activity>

        <activity android:name=".cliente.CadastroCliente" android:label="Cadastro" android:theme="@style/Theme.AppCompat.NoActionBar">
        </activity>

        <activity android:name=".cliente.LoginCliente" android:label="Login" android:theme="@style/Theme.AppCompat.NoActionBar">
        </activity>

        <activity android:name=".cliente.MenuCliente" android:label="Login" android:theme="@style/Theme.AppCompat.NoActionBar">
        </activity>

        <activity android:name=".cliente.ListaPrestadores" android:label="Login" android:theme="@style/Theme.AppCompat.NoActionBar">
        </activity>

        <activity android:name=".cliente.PrestadorProfile" android:label="Perfil" android:theme="@style/Theme.AppCompat.NoActionBar">
        </activity>

        <activity android:name=".cliente.FinalizarPedido" android:label="Perfil" android:theme="@style/Theme.AppCompat.NoActionBar">
        </activity>

        <activity android:name=".AceitarServico" android:label="Perfil" android:theme="@style/Theme.AppCompat.NoActionBar">
        </activity>

        <activity android:name=".DetalhesServicoAceitar" android:label="Perfil" android:theme="@style/Theme.AppCompat.NoActionBar">
        </activity>

        <activity android:name=".cliente.avaliarServico" android:label="Perfil" android:theme="@style/Theme.AppCompat.NoActionBar">
        </activity>

        <activity android:name=".EditarPefilPrestador" android:label="Perfil" android:theme="@style/Theme.AppCompat.NoActionBar">
        </activity>

        <activity android:name=".PlanoPerfil" android:label="Perfil" android:theme="@style/Theme.AppCompat.NoActionBar">
        </activity>

        <activity android:name=".cliente.EditarPerfilCliente" android:label="Perfil" android:theme="@style/Theme.AppCompat.NoActionBar">
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

    </application>

</manifest>